@import "tailwindcss";
@plugin "daisyui" {
  themes:
    winter, dark, light, cupcake, forest, synthwave, corporate, dracula, night,
    retro, cyberpunk, valentine, halloween, garden, lofi, pastel, fantasy,
    wireframe, black, luxury, emerald;
}

* {
  @apply font-sans;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

*::selection {
  color: #0197f6;
}

@layer base {
  :root {
    --color-primary: #0197f6;
    --color-primary-focus: #0197f6;
    --color-primary-content: #ffffff;
    --color-secondary: #0692d9;
    --color-secondary-focus: #0692d9;
    --color-secondary-content: #ffffff;
    --color-accent: #0ed8e3;
    --color-accent-focus: #0ed8e3;
    --color-accent-content: #ffffff;
  }
}

button {
  cursor: pointer;
}
